* {
    font-family: sans-serif;
}
#flex-container{
    width: 400vw;

    flex-direction: row;
    column-width: 100px;

    /* align-content: space-around; */
    justify-content: space-around;

    margin-top: 10vh;
    margin-left: 2em;
}

.texty{
    width: 10em;
    border: 1px solid aqua;
}
