polygon:hover{
    fill:yellow;
    cursor:pointer;
    box-shadow: 10px 10px lightblue ;
}
polygon{
    fill: rgba(0,0,0,0);
}
/* body{
    background-image: url(png.jpg) ;
} */

svg {
    height: 600px;
}