polygon:hover{
    fill:yellow;
    cursor:pointer;
}
polygon{
    fill: transparent;
    /* fill: orange; */
    /* filter: url(#glow); */
    /* filter: drop-shadow(0px 0px 0.2vh orange); */
}
/* body{
    background-image: url(png.jpg) ;
} */

svg {
    height: 600px;
}